header {
  display: flex;
  width: 100%;
  height: 88px;
  padding: 0 64px;
}

button {
  padding: 0;
}

.logo {
  color: #010101;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: none;
  border: none;
}
